<nav class="navbar navbar-fixed-top d-flex justify-content-space-between align-items-center bg-primary py-1">
  <div>
    <div ngbDropdown>
      <button type="button" class="btn" id="about-dropdown" ngbDropdownToggle>
        <img src="assets/icons/menu-icons/logo-white.svg" alt="logo" width="32">
      </button>
      <app-about-dropdown ngbDropdownMenu class="p-0"></app-about-dropdown>
    </div>
  </div>
  <div>
    <h5 class="text-light">WHEELS</h5>
  </div>
  <div>
    <button type="button" class="btn" (click)="onUserClosedButtonPressed()">
      <img [src]="isUserOpen ? homeIcon.location : accountIcon.location" alt="topbar-navigation-button" width="32"
        [ngClass]="{'home-icon': isUserOpen}">
    </button>
  </div>
</nav>