.toggle-button-container {
    pointer-events: all;
}

.toggle-button {
    padding: 0.2em;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 0.5em;
}

.toggled {
    background-color: #F47F20;
    color: white;
}

.toggled-img {
    filter: brightness(0) invert(1);
}