<google-map height="100vh" width="100%" [zoom]="zoom" [center]="center" [options]="options" (mapClick)="click($event)"
  *ngIf="!isLoading">
  <map-marker *ngFor="let marker of displayMarkers" [position]="marker.position" [label]="marker.label"
    [title]="marker.title" [options]="marker.options">
  </map-marker>
  <map-marker *ngFor="let busId of displayBuses" [position]="busMap.get(busId).position"
    [label]="busMap.get(busId).label" [title]="busMap.get(busId).title" [options]="busMap.get(busId).options">
  </map-marker>
  <map-polyline *ngFor="let segment of verticesSet; index as i" [path]="segment"></map-polyline>
</google-map>

<div class="bottom-panel" [ngStyle]="{'height.vh': bottomPanelHeight}">
  <div class="expand-button">
    <button mat-icon-button (click)="expandBottomPanel()">
      <mat-icon>{{bottomPanelHeight != DEFAULT_BOTTOM_PANEL_HEIGHT ? 'arrow_drop_down':'arrow_drop_up'}}</mat-icon>
    </button>
  </div>
  <div class="info-panel">
    <div class="col">
      <img src="assets/bus-icon.svg" alt="Bus Icon" style="height: 32px;">
    </div>
    <div class="col left">
      <p>
        <b>Scheduled</b><br>
        6:20 PM
      </p>
    </div>
    <div class="col right">
      <p>
        <b>ETA</b><br>
        7 min
      </p>
    </div>
  </div>
</div>