.route-select-box {
    display: block;
    border-radius: 1em;
    padding-top: 0.5em;
    padding-left: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    border-width: 1px;
    border-style: solid;
    border-color: green;
}

.route-title {
    margin-bottom: 0;
}

.no-route-error {
    height: 100%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}