.info-panel {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2em;
    padding-right: 2em;
    width: 100%;
}

.left {
    margin-left: 2em;
}

.right {
    margin-left: auto;
    margin-right: auto;
}

.info-panel>.col {
    margin-top: auto;
    margin-bottom: auto;
}