.info-panel {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.info-panel>.col {
    max-width: 33%;
    width: 33%;
    margin: auto;
    text-align: center;
}

.vehicle-headsign {
    background-color: white;
    border: 1px solid green;
    border-radius: 1em;
    padding-right: 1em;
    padding-left: 1em;
    text-align: inherit;
}