

.topbar {
    position: fixed;
    top: 0;
    z-index: 200;
}

.route-selection {
    width: 80vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    z-index: 100;
}
.example-spacer {
    flex: 1 1 auto;
}