.ui-overlay {
    pointer-events: none;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
}

.page-overlay {
    position: absolute;
    background-color: white;
    overflow: scroll;
}

.user-overlay {
    z-index: 2;
}

.line-overlay {
    z-index: 3;
}

.favorites-title {
    border-radius: 0.5em;
}

.route-list>div:before {
    content: ' ';
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #F47F20;
    border-radius: 100%;
}

.route-list>div>.line-insert:before {
    content: ' ';
    white-space: pre;
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: #F47F20;
    transform: translateX(-5.5px);
}

.secondary-light {
    color: #F6944D;
}