<div class="container">
  <mat-toolbar class="topbar">
    <button mat-button class="example-icon" (click)="drawer.toggle()">
      <span>{{currentRouteName}}</span>
      <mat-icon svgIcon="logo"></mat-icon>
    </button>
    <span class="app-title">WHEELS</span>
    <!-- <span class="example-spacer"></span> -->
    <button mat-icon-button>
      <mat-icon svgIcon="account"></mat-icon>
    </button>
  </mat-toolbar>

  <div class="button-screen-overlay">
    <div class="toggle-buttons">
      <button mat-stroked-button color="primary" *ngFor="let button of toggleButtons" style="transform: scale(0.6);">
        <mat-icon [svgIcon]="button.icon"></mat-icon>
      </button>
    </div>
  </div>

  <mat-drawer-container [hasBackdrop]="false">
    <mat-drawer #drawer mode="over" class="route-selection">
      <app-route-select></app-route-select>
    </mat-drawer>
    <mat-drawer-content class="main-content">
      <app-map></app-map>
    </mat-drawer-content>
  </mat-drawer-container>