.ui-overlay {
    pointer-events: none;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
}

.page-overlay {
    position: absolute;
    background-color: white;
    overflow-y: scroll;
}

.user-overlay {
    z-index: 3;
}

.line-overlay {
    z-index: 2;
}


.circle {
    height: 10px;
    width: 10px;
    background-color: #F47F20;
    border-radius: 100%;
}

.line {
    width: 1px;
    background-color: #F47F20;
    transform: translateX(-5px);
}

.secondary-light {
    color: #F6944D;
}