.ui-overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
}

.toggle-button {
    padding: 0.2em;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 0.5em;
}

.searchbar>.form-control {
    border-color: #F47F20;
    border-left: hidden;
}

.searchbar>div>.btn {
    border-right: hidden;
    background-color: white;
}