<google-map class="map" height="100vh" width="100vw" [zoom]="mapZoom" [center]="mapCenter" [options]="mapOptions">
  <map-marker *ngIf="currentStopMarker != null" [position]="currentStopMarker.position"
    [label]="currentStopMarker.label" [title]="currentStopMarker.title" [options]="currentStopMarker.options">
  </map-marker>
  <map-marker *ngFor="let marker of displayMarkers; index as i" [position]="marker.position" [label]="marker.label"
    [title]="marker.title" [options]="marker.options" (mapClick)="changeCurrentStop(marker.stopId, i)">
  </map-marker>
  <map-marker *ngFor="let bus of displayVehicles | keyvalue" [position]="bus.value.position" [label]="bus.value.label"
    [title]="bus.value.title" [options]="bus.value.options">
  </map-marker>
  <ng-template ngFor let-drawSegments [ngForOf]="this.drawSegmentSuperset">
    <map-polyline *ngFor="let segment of drawSegments.segmentSet" [path]="segment"
      [options]="drawSegments.segmentOptions">
    </map-polyline>
  </ng-template>
</google-map>